<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../datamanager/pokeapp-pokemons.html">
<link rel="import" href="/src/pokeapp-app/pokeapp-pokeitem.html">

<dom-module id="pokeapp-app">
  <template>
    <style>
      :host {
        display: block;
      }
      
    </style>
    <h2>Hello PokeFan!!</h2>
    <pokeapp-pokemons pokemones="{{pokemones}}"></pokeapp-pokemons>

    <template is="dom-repeat" items="{{pokemones}}" as="pokemon">
      <pokeapp-pokeitem pokemon="[[pokemon]]"></pokeapp-pokeitem>
    </template>
    
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PokeappApp extends Polymer.Element {
      static get is() { return 'pokeapp-app'; }
      static get properties() {
        return {
          pokemones: Array
        };
      }
    }

    window.customElements.define(PokeappApp.is, PokeappApp);
  </script>
</dom-module>
