<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../datamanager/pokeapp-pokemons.html">

<dom-module id="pokeapp-pokeitem">
    <template>
        <style>
            :host {
                display: block
            }
            div {
                background-color: #F0F8FF;
                font-size: 1.4em;
            }
            span {
                font-weight: bold;
            } 
        </style>
    
        <div on-click="toggle">
            <p>[[pokemon.name]]      ----     [[pokemon.url]] </p>
        </div>

        <iron-collapse opened="[[desplegado]]">
                <pokeapp-pokemons name="{{pokemon.name}}" url-pokemon="{{pokemon.url}}" pokemon-details="{{pokemonDetail}}"></pokeapp-pokemons>
            <img src="[[pokemonDetail.sprites]]">
            <p><span>Height: </span>[[pokemonDetail.height]]</p>
            <p><span>Weight: </span>[[pokemonDetail.weight]]</p>
            <span>     Ability: </span>
            <template is="dom-repeat" items="[[pokemonDetail.abilities]]" as="abilities">
                <p>   [[abilities.ability.name]]</p>
            </template>
            <span>     Types: </span>
            <template is="dom-repeat" items="[[pokemonDetail.types]]" as="types">
                <p>   [[types.type.name]]</p>
            </template>
            <span>     Moves: </span>
            <template is="dom-repeat" items="[[pokemonDetail.moves]]" as="move">
                <p>   [[move.move.name]]</p>
            </template>
        </iron-collapse>
        
    </template>

    <script>
        /**
         * `pokeapp-pokeitem` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class PokeappPokeitem extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'pokeapp-pokeitem';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    pokemon: Object,
                    pokemonDetail: Object,
                    desplegado: {
                        type: Boolean,
                        value: false
                    }
                };
            }

            /**
             * Instance of the element is created/upgraded. Use: initializing state,
             * set up event listeners, create shadow dom.
             * @constructor
             */
            constructor() {
                super();
            }

            /**
             * Use for one-time configuration of your component after local DOM is initialized. 
             */
            ready() {
                super.ready();
            }

            toggle(e) {
                console.log(this.desplegado);
                this.desplegado = !this.desplegado;
            }

        }

        window.customElements.define(PokeappPokeitem.is, PokeappPokeitem);
    </script>
</dom-module>