<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">

<dom-module id="pokeapp-pokelist">
    <template>
        <style>
            :host {
                display: block
            }
        </style>       
        
        <iron-ajax auto
            id="ajax"
            url="https://pokeapi.co/api/v2/pokemon/"
            last-response="{{ajaxResponse}}"
            loading="{{cargando}}">
        </iron-ajax>
        <paper-spinner active="[[cargando]]"></paper-spinner>
    </template>

    <script>
        /**
         * `LowerCaseDashedName` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class PokeappPokelist extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'pokeapp-pokelist';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    ajaxResponse: {
                        type: Object,
                        observer: "OnAjaxResponseEvent"
                    },
                    pokemones: {
                        type: Array,
                        notify: true,
                        value: function(){
                            return [];
                        }
                    },
                    cargando: Boolean
                };
            }
            /**
             * Instance of the element is created/upgraded. Use: initializing state,
             * set up event listeners, create shadow dom.
             * @constructor
             */
            constructor() {
                super();
            }

            /**
             * Use for one-time configuration of your component after local DOM is initialized. 
             */
            ready() {
                super.ready();
            }

            OnAjaxResponseEvent(newVal,oldVal){
                if(newVal){
                    this.set('pokemones', newVal.results);
                }
            }

        }

        window.customElements.define(PokeappPokelist.is, PokeappPokelist);
    </script>
</dom-module>