<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="pokeapp-pokedetail">
    <template>
        <style>
            :host {
                display: block
            }
        </style>
        <iron-ajax auto
            id="ajax"
            url="{{urlPokemon}}"
            last-response="{{ajaxResponse}}">
        </iron-ajax>
    </template>

    <script>
        /**
         * `pokeapp-pokedetail` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class PokeappPokedetail extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'pokeapp-pokedetail';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    name: String,
                    urlPokemon: String,
                    ajaxResponse: {
                        type: Object,
                        observer: "OnAjaxResponseEvent"
                    },
                    pokemonDetails: {
                        type: Object,
                        notify: true
                    }
                };
            }

            /**
             * Instance of the element is created/upgraded. Use: initializing state,
             * set up event listeners, create shadow dom.
             * @constructor
             */
            constructor() {
                super();
            }

            /**
             * Use for one-time configuration of your component after local DOM is initialized. 
             */
            ready() {
                super.ready();
            }

            OnAjaxResponseEvent(newVal,oldVal){
                if(newVal){
                    var pokemon = {
                        "name": this.name,
                        "url": this.urlPokemon,
                        "height": newVal['height'],
                        "weight": newVal['weight'],
                        "sprites": newVal['sprites']['front_default'],
                        "abilities":  newVal['abilities'],
                        "types": newVal['types'],
                        "moves": newVal['moves']
                        }
                    this.set('pokemonDetails',pokemon);
                }
            }

        }

        window.customElements.define(PokeappPokedetail.is, PokeappPokedetail);
    </script>
</dom-module>