<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../dataprovider/pokeapp-pokedetail.html">
<link rel="import" href="../dataprovider/pokeapp-pokelist.html">

<dom-module id="pokeapp-pokemons">
    <template>
        <style>
            :host {
                display: block
            }
        </style>

        <pokeapp-pokelist pokemones="{{pokemones}}"></pokeapp-pokelist>
        <pokeapp-pokedetail name="{{name}}" url-pokemon="{{urlPokemon}}" pokemon-details="{{pokemonDetails}}"></pokeapp-pokedetail>
    </template>

    <script>
        /**
         * `pokeapp-pokemons` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class PokeappPokemons extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'pokeapp-pokemons';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    name: Object,
                    urlPokemon: String,
                    pokemones: {
                        type: Array,
                        notify: true,
                        value: function(){
                            return [];
                        }
                    },
                    pokemonDetails: {
                        type: Object,
                        notify:true
                    }
                };
            }

            /**
             * Instance of the element is created/upgraded. Use: initializing state,
             * set up event listeners, create shadow dom.
             * @constructor
             */
            constructor() {
                super();
            }

            /**
             * Use for one-time configuration of your component after local DOM is initialized. 
             */
            ready() {
                super.ready();
            }

        }

        window.customElements.define(PokeappPokemons.is, PokeappPokemons);
    </script>
</dom-module>